root = true

[*]
end_of_line = lf
insert_final_newline = true

[web2/**]
indent_style = space
indent_size = 2

[web2/**.java]
indent_style = tab
indent_size = 4

[web2/**.xml]
indent_style = tab
indent_size = 4
